.f-1{
	width: 372px;
	height: 94px;
	float: left;
	margin: 90px 0px 80px 255px;
}
.foot .gsm{
	font-size: 28px;
	color:#39a030;
	position: relative;
	top: 3px;
}
.foot .hsg{
	font-size: 22px;
	color:#39a030;
}
.f-1 p{
	line-height: 25px;
	margin-top: 24px;
	color:#bebfc0;	
	font-size: 12.5px;
	word-spacing: 1px;
}
.f-p{
	background-image: url(../image/24.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;
	position: relative;
	left: 39px;
	bottom: 20px;
}
.f-r{
	width: 400px;
	height: 94px;
	line-height: 30px;
	float: left;
	margin: 80px 412px 0px 150px;
}
.f-2{
	width: 107px;
	height: 94px;
	float: left;
	margin-right: 100px;
}
.f-3{
	width: 60px;
	height: 94px;
	float: left;
}
.f-4{
	width: 60px;
	height: 70px;
	float: right;
}
.f-r,.foot a{
	color:#bebfc0;
}

.f-r span{
	font-size: 12.5px;
}
.f-r p{
	font-size: 14.58px;
}

.foot a{	
	text-decoration:none;
}
.foot a:hover{
	text-decoration:underline;
}

