.p5-1{
	width: 223px;
	height: 229px;
	margin-top: 82px;

}
.p5-1-tit{
	width: 223px;
	height: 55px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	font-size: 16px;
}
.p5-1-body{
	font-size: 14px;
}